.MainButtonsBar{
    position: fixed;
    top:12%;
}

.deleteCarForm{
    position: fixed;
    top: 3%;
    left:5px;
}

.SubmitUpdateButton{
    position: absolute;
    top:65%;
    left: 25%;
}

.dropDownCarUpdate{
    position: absolute;
    top:20%;
    left: 25%;
}


.updateFieldsForm{
    position:fixed;
    top:2%;
    left:5px;

}

.carLicesUpdateForm{
    position: fixed;
    left:42%;
    top:10%;
}

.updateCarLicensInput{
    position: fixed;
    left:45%;
    top:20%;
}


.addNewCarForm{
    position: fixed;
    left:10px;
    top:3%;
}

.Update-Car-Header{
    text-align: center;
}

.Update-Car-Num-Button{
    position:absolute;
    bottom:15%;
    bottom:20%;
}

.active-link{
    color: orange;
    font-weight: bold;
}

div{
    margin-bottom: 10px;
    margin-left: 47%;
}

table{
    border: 1px solid black;
}

th{
    border: 1px solid black;
    
 padding: 40px;

}

td{
    border: 1px solid black;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

form{
    margin-top:80px;
    margin-left: 30px;
    padding-bottom: 80px;
}

.CarNumForUpdate{
    text-align: center;
}



