.ShowhUserInfo{
    position:fixed;
    top:15%;
    left:40px;
}

.returnCarDiv{
    position:fixed;
    top:15%;
    left:40%;
}


.returnTableForm{
    position:fixed;
    top:45%;
    left:30%;
}



table{
    border: 1px solid black;
}

th{
    border: 1px solid black;
    height: 10px;

}

td{
    border: 1px solid black;
    text-align: center;
}